#-*- mode:gitignore; -*-
*~
\#\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode 
*_flymake.*

# elpa packages
/elpa/

#reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages

.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# prijectiles files
.projectile

# directory configuration
.dir-locals.el

